extends layout

block body
  div#container(style="background-image:url('/images/startscreen.png')" class="select-disable dim")
    div#vi-leter
      p Vi leter
        span#loading
      div#avbryt
        button.top-button(id="avbryt-knapp") Avbryt
    div#overlay
    
