<div id="contents">
  <div class="buffer"></div>
  {{#if (book) }}
    {{#if (mode === 'REVIEWS') }}
      <Reviews :book on:sameAuthorMode on:similarWorksMode on:reviewsSimilarWorks on:reviewsSameAuthorBook />
    {{/if}}
    {{#if (mode === 'SAME_AUTHOR') }} <MoreFromAuthor :book on:reviewsSameAuthorBook />{{/if}}
    {{#if (mode === 'SIMILAR_WORKS') }}<SimilarWorks :book on:reviewsSimilarWorks />{{/if}}
  {{/if}}
</div>

<script>
  import Reviews from './Reviews.html'
  import MoreFromAuthor from './MoreFromAuthor.html'
  import SimilarWorks from './SimilarWorks.html'
  export default {
    components: {
      Reviews,
      MoreFromAuthor,
      SimilarWorks
    },
    props: ['book', 'mode']
  }
</script>
