<div id="contents">
  <div class="buffer"></div>
  {{#if (book) }}
    {{#if (reviewMode) }}
      <Reviews :book on:sameAuthorMode="setSameAuthorMode()" on:similarWorkMode="setSimilarWorkMode()"/>
    {{/if}}
    {{#if (sameAuthorMode) }} <MoreFromAuthor :book />{{/if}}
    {{#if (similarWorkMode) }}<SimilarWorks :book />{{/if}}
  {{/if}}
</div>

<script>
  import Reviews from './Reviews.html'
  import MoreFromAuthor from './MoreFromAuthor.html'
  import SimilarWorks from './SimilarWorks.html'
  export default {
    components: {
      Reviews,
      MoreFromAuthor,
      SimilarWorks
    },
    data: () => ({
      reviewMode: true,
      sameAuthorMode: false,
      similarWorkMode: false
    }),
    props: ['book'],
    methods: {
      setReviewMode: function() {
        this.set({reviewMode: true, sameAuthorMode: false, similarWorkMode: false})
      },
      setSameAuthorMode: function() {
        this.set({reviewMode: false, sameAuthorMode: true, similarWorkMode: false})
      },
      similarWorkMode: function() {
        this.set({reviewMode: false, sameAuthorMode: false, similarWorkMode: true})
      }
    }
  }
</script>
