<div id="content-bottom">
  <div class="flere">
    {{#if (book.sameAuthorBooks.length > 0) }}
      <h3>Flere</h3>
      <!-- TODO: recreate logic: if < 5 show all, else show three and a "more" img -->
      <!--<% num = book.sameAuthorBooks.length < 5 ? book.sameAuthorBooks.length : 3 %>-->
      {{#each book.sameAuthorBooks as sa, idx }}
        {{#if (idx < 3)}}
          <div class="liste-small">
            <div class="cover-small" on:click='fire("reviewsSameAuthorBook", {sa})'>
            {{#if (sa.coverUrl) }}
                <img src="{{ sa.coverUrl }}" />
            {{else}}
              <div class="cover-small-missing" on:click='fire("reviewsSameAuthorBook", {sa})'>
                <strong> {{ sa.title }} </strong>
              </div>
            {{/if}}
            </div>
            <p class="title"> <strong> {{sa.title}}</strong> </p>
          </div>
        {{else}}
          {{#if (idx === 3 && book.sameAuthorBooks.length > 5) }}
            <div class="liste-small">
              <div class="cover-small" on:click='fire("sameAuthorMode")'>
                <div class="cover-small-missing">se mer</div>
              </div>
            </div>
          {{/if}}
        {{/if}}
      {{/each}}
    {{/if}}
    <p>&nbsp;</p>
  </div>
  <div class="relaterte">
    {{#if (book.similarWorks.length > 0) }}
      <h3>Relaterte</h3>
      <!-- TODO: recreate logic: if < 5 show all, else show three and a "more" img -->
      <!--<% num = book.sameAuthorBooks.length < 5 ? book.sameAuthorBooks.length : 3 %>-->
      {{#each book.similarWorks as sw, idx}}
        {{#if (idx < 3)}}
          <div class="liste-small">
            {{#if (sw.coverUrl) }}
              <div class="cover-small" on:click='fire("reviewsSimilarWorks", {sw})'>
                <img src="{{sw.coverUrl}}"  />
              </div>
            {{else}}
              <div class="cover-small-missing" on:click='fire("reviewsSimilarWorks", {sw})'>
                <!-- TODO: book authors separated with comma -->
                <!-- _.map(book.authors, function(a) { return a.creatorName; }).join(', ') %> <strong> {{title}}</strong>-->
                {{ sw.creatorName }} <strong> {{ sw.title }} </strong>
              </div>
            {{/if}}
            <p class="title"> <strong> {{ sw.title }}</strong> </p>
          </div>
        {{else}}
          {{#if (idx === 3 && book.similarWorks.length > 5) }}
            <div class="liste-small">
              <div class="cover-small" on:click='fire("similarWorksMode")'>
                <div class="cover-small-missing">se mer</div>
              </div>
            </div>
          {{/if}}
        {{/if}}
      {{/each}}
    {{/if}}
  </div>
</div>
