<div id="liste-wrapper">
  <ul class="listevisning">
    {{#each book.sameAuthorBooks as sa }}
      <li on:click='fire("reviewsSameAuthorBook", {sa})'>
        <p class="liste-tittel">{{ sa.title }}</p>
        <p class="liste-forfatter">{{ book.authors }}</p>
        <hr style="width:100%;" />
        <div class="liste-bilde">
          {{#if (sa.coverUrl) }}
            <img src="{{ sa.coverUrl }}" class="listevisning" />
          {{else}}
            <div id="omtale-bilde-liste">
              <div id="inner-border-liste">
                <div class="book-author-liste"></div>
                <div class="book-title-liste"> {{ sa.title }} </div>
              </div>
            </div>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>
<div id="fade-to-white"></div>
