<div id="content-left">
  <div class="image-wrapper">
    {{#if (book.coverUrl) }}
      <div class="image-big">
        <img src="{{ book.coverUrl }}" class="omtalt-bok"/>
      </div>
    {{else}}
      <div id="omtale-bilde">
        <div id="inner-border">
          <div class="book-author">
            {{ book.authors }}
          </div>
          <div class="book-title">
            {{ book.title }}
          </div>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="ratings"></div>
</div>
<div id="content-right">
  {{#if (reviewIndex > 0) }}
    <div id="left_arrow"><img src="/images/arrow_left_active.png" on:click='set({reviewIndex: reviewIndex-1})'/></div>
  {{else}}
    <div id="left_arrow"><img src="/images/arrow_left_inactive.png" /></div>
  {{/if}}
  {{#if (book.localReviews.length > reviewIndex+1) }}
    <div id="right_arrow"><img src="/images/arrow_right_active.png" on:click='set({reviewIndex: reviewIndex+1})' /></div>
  {{else}}
    <div id="right_arrow"><img src="/images/arrow_right_inactive.png" /></div>
  {{/if}}
  <div id="omtale-wrapper">
    <div id="scroller">
      {{#if (book.localReviews.length > 0) }}
        <Review>
          <span slot="reviewTitle">{{ book.localReviews[reviewIndex].reviewTitle }}</span>
          <span slot="reviewText">{{{ book.localReviews[reviewIndex].reviewText }}}</span>
          <span slot="reviewSource">{{ book.localReviews[reviewIndex].reviewSource }}</span>
        </Review>
      {{else}}
        <Review>
          <span slot="reviewTitle"></span>
          <span slot="reviewText">no reviews ... sorry</span>
          <span slot="reviewSource"></span>
        </Review>
      {{/if}}
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- Similar and related books coverflow -->
<CoverFlow :book on:sameAuthorMode on:similarWorksMode on:reviewsSameAuthorBook on:reviewsSimilarWorks />

<script>
  import Review from './Review.html'
  import CoverFlow from './CoverFlow.html'
  import { doGetRequest } from '../utils/utils.js'
  export default {
    components: {
      Review,
      CoverFlow
    },
    data: () => ({
      reviewIndex: 0
    })
  }
</script>
<style>
  .image-wrapper  { width: 250px; height:360px; position:relative;}
  .image-big      { background: #fff; box-shadow: 6px 6px 7px 2px rgba(0,0,0,0.35);
                       position:relative; width: 250px; max-height:360;}
  .omtalt-bok     { width: 230px; max-height: 340px; border: 10px solid white;
                       box-shadow: 5px 6px 7px 2px rgba(0,0,0,0.25); margin:auto;}
  #omtale-bilde   { display: block; width: 230px; height: 320px; background:#fff; padding:10px;
                       box-shadow: 1px 3px 10px 2px rgba(0,0,0,0.25);}
  #inner-border   { padding: 20px; border:2px solid gray; background: #ddd; height:280px; text-align: center;}
</style>