{{#moreFromAuthorMode}}
  <div id="liste-wrapper">
    <ul class="listevisning">
      {{#book.sameAuthorBooks }}
        <li on-click="lookupBook">
          <p class="liste-tittel">{{ title }}</p>
          <p class="liste-forfatter">{{ authors }}</p>
          <hr style="width:100%;" />
          <div class="liste-bilde">
            {{#if (coverUrl) }}
              <img src="{{ coverUrl }}" class="listevisning" />
            {{else}}
              <div id="omtale-bilde-liste">
                <div id="inner-border-liste">
                  <div class="book-author-liste"></div>
                  <div class="book-title-liste"> {{ title }} </div>
                </div>
              </div>
            {{/if}}
          </div>
        </li>
      {{/book.sameAuthorBooks}}
    </ul>
  </div>
  <div id="fade-to-white"></div>
{{/moreFromAuthorMode}}